<!DOCTYPE html>
<!-- <html>
<head>
	<title>Display</title>
</head>
 -->
{% extends 'base.html' %}
	{% block body_block %}

<style>

.picture-grid{
	display: grid;
	/*grid-template-columns: repeat(auto-fill,minmax(240px,1fr));*/
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items:center;
	grid-gap: 5px;
	grid-row-gap:1px; 
}

.grid-box img{
	width: 100%;
}

</style>
<body>
	<h1>Image Grid</h1>
	<div class="container">
		<div class="picture-grid">
			{% for i in images %}
				<div class="grid-box">
					<a href="{% url 'content:detail_image' i.id %}" ><img src="{{ i.imagePath.url }}" width="350px"/></a>
					<h3> {{i.ethnicity}} </h3>
				</div>
			{% endfor %}
		</div>
	</div>

	{% endblock %}

<!-- </body>
</html> -->