<!DOCTYPE html>
<!-- <html>
<head>
	<title></title>
</head>
<body> -->
{% extends 'base.html' %}
	{% block body_block %}
	<h1>Choose Ethnicity</h1>

	<div class = "form-group">
		<form action="{% url 'content:display_all' %}" method="POST">
			{% csrf_token %}
			<select name = "dropdown">
				<option value="Black">Black</option>
				<option value="Indian">Indian</option>
				<option value="Spanish">Spanish</option>
				<option value="Caucasian">Caucasian</option>
				<option value="Asian">Asian</option>
			</select>
			<input type="submit" value="Submit">
		</form>
	</div>
	{% endblock %}
<!-- </body>
</html> -->
