<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Choose your Ethnicity</h1>

	<div>
		<form action="{% url 'content:display_all' %}" method="POST">
			{% csrf_token %}
			<select name = "dropdown">
				<option value="Black">Black</option>
				<option value="Indian">Indian</option>
				<option value="Spanish">Spanish</option>
				<option value="Caucasian">Caucasian</option>
				<option value="Asian">Asian</option>
			</select>
			<input type="submit" value="Submit">
		</form>
	</div>
</body>
</html>